<h1>Tweet here</h1>

<%= form_tag(tweet_path, :remote => true) do |f| %>
  <%= text_area_tag "Full Text" %>
  <%= submit_tag "Tweet" %>
<% end %>

<h1>Old tweets</h1>
<ul>
  <% @tweets.each do |tweet| %>
    <li><%= tweet.tweeted_at.to_s %>: <%= tweet.full_text %></li>
  <% end %>
</ul>
